/* colors */
$sticky_pink: #fb7e84;
$sticky_background: #FEF9F9;
$sticky_white: #ffffff;

$link_color: #ffdddf;
$link_hover_color: #e6999e;

/* nav bar colors */
$bar_active_color: #84fb7e;

/* heights */
$bar_height: 80px;

/* paddings */
$general_padding: 2em;

/* fonts */

@import url('https://fonts.googleapis.com/css?family=Lato:700,900');

$main_font: 'Lato', sans-serif;
